.slick-arrow {
    color: #fff;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    z-index: 1;
    font-size: 1.4em;
    background: #000;
    border: none;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}