/*
 * Allgemeines
 */

* {
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url(../assets/backgrounds/office.png) repeat;
    color: #fff;
    font-family: "Abel", sans-serif;
    font-size: 20px;
    padding-top: 45px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0 0 1.3em;
}

.lead {
    max-width: 700px;
    margin: 0 auto 30px;
    font-size: 1.2em;
    line-height: 1.45em;
}

hr {
    margin: 30px 0;
}

/*
 * Überschriften / Headlines
 */

h1 {
    font-size: 2.2em;
    color: $primary--color;
}

h3 {
    font-family: "Roboto Slab", serif;
    font-size: 1.4em;
    color: $primary--color;
    position: relative;
    margin: 10px 0 60px;
}

h3:after,
h3:before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    bottom: -25px;
    height: 2px;
    background: $primary--color;
}

h3:after{
    width: 0;
    background: lighten($primary--color, 10%);
    transition: all 300ms;
}

/*
 * Links / Anker
 */

a {
    color: $primary--color;
    text-decoration: none;
}

a:hover {
    color: lighten($primary--color, 10%);
}

/*
 * Logo
 */

.logo {
    position: fixed;
    background: $primary--color;
    width: 60px;
    height: 60px;
    display: block;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 200ms;
}

.logo:hover {
    background: #fff;
}

.logo span{
    font-size: 1.8em;
    color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 200ms;
    transform: translate3d(-50%, -50%, 0);
}

.logo:hover span {
    color: #000;
}







/**
 * Footer / Adressen
 */

.mod--footer {
    text-align: center;
    padding: 30px 0;
    overflow: hidden;
}

address {
    font-style: normal;
    position: relative;
}

address:before,
address:after {
    content: "";
    background: $primary--color;
    width: 80px;
    height: 2px;
    display: block;
    margin: 30px auto;
}

.social-media {
    margin-top: 15px;
}



/*
 * Media Queries
 */

@media screen and (min-width: 480px) {

    address:before,
    address:after {
        display: none;
    }

    .mod--footer {
        margin-top: 40px;
        padding-top: 20px;

        .column {
            text-align: right;

            &:first-of-type {
                text-align: left;
            }
        }

        > *:first-child {
            text-align: left;
        }
    }

    .social-media {
        margin: 0;
    }
}